/*009bb1*/

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
    color: #454c56 !important;
	line-height: 1.6;
	font-family: "HelveticaRegular";
	overflow-x: hidden;
}
.hidden {
	display: none;
}

h4{
    text-transform: uppercase;
    background-color: #009bb1;
    display: inline-block;
    padding: 10px 14px 8px;
    color: #fff!important;
    border-radius: 15px;
    font-size: 18px!important;
    line-height: 1!important;
    margin-top: 0!important;
    margin-bottom: 15px!important;
    font-weight: bold!important;
    letter-spacing: 1px;
}

nav{
	background-color: #f5fafd;
	border-bottom: 1px #009bb1 solid
}
.top-mnu{
	padding: 0;
	list-style: none;
	margin: 0;
}
.top-mnu li a {
    font-size: 11px;
    color: #454c56;
    display: inline-block;
    padding: 19px 8px;
    letter-spacing: 1px;
    transition: all .4s ease;
}
.top-mnu li{
	display: inline-block;
	margin: 0 -3px;
	padding: 0;
}

.top-mnu li.active a,
.top-mnu li a:hover{
	background-color: #009bb1;
	color: #fff;
	text-decoration: none;
}

nav .contacts{
	text-align: right;
}

nav .curs{
	text-align: right;
	padding-top: 15px;
}

nav .lang{
    border: none;
    color: #009bb1;
    background: #f5fafd;
    font-size: 18px;
    font-family: "HelveticaLight";
    outline: none;
}

nav .contacts .transp-button{
	display: inline-block;
	color: #009bb1;
	border: 1px #009bb1 solid;
	padding: 5px 13px;
	border-radius: 18px;
	font-size: 12px;
	transition: all .4s ease;
}

nav .contacts .transp-button:hover{
	text-decoration: none;
	color: #fff;
	border: 1px #fff solid;
	background: #009bb1;
}

nav .contacts ul,
nav .curs ul{
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 14px 0;
}

nav .contacts ul li,
nav .curs ul li{
    display: inline-block;
    position: relative;
    margin: 0 5px;
    vertical-align: middle;
    margin-right: 0;
}

nav .contacts ul p{
    font-size: 17px;
    font-family: "HelveticaBold";
    color: #009bb1;
    margin: 0;
}

nav .curs ul p{
    font-size: 15px;
    color: #009bb1;
    margin: 0;
}

nav .contacts ul.nubmer-list,
nav .curs ul.lang-list{
	position: absolute;
	left: 0;
	width: 100%;
	visibility: hidden;
	text-align: left;
	transition: all 1s ease;
	background: #009bb1;
	z-index: 55;
	padding: 6px;
}
nav .curs ul{
	padding: 0;
}
nav .contacts ul li:hover > ul.nubmer-list,
nav .curs ul li:hover > ul.lang-list{
	visibility: visible;
}

nav .contacts ul.nubmer-list li,
nav .curs ul.lang-list li{
	display: block;
	margin: 0;
}

nav .contacts ul.nubmer-list li p,
nav .curs ul.lang-list li p{
    color: #fff;
}

nav .curs ul.lang-list{
    background: #009bb1;
    color: #fff;
    left: -2px;
    bottom: -36px;
    cursor: pointer;
}

nav .search{
    background-color: #009bb1;
    color: #fff;
    width: 57px;
    height: 57px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
    margin-left: 20px;
}

.search-wrapp{
	position: relative;
}

.search-wrapp .search-input {
    position: absolute;
    right: 0;
    bottom: -35px;
    transition: opacity .4s ease;
}

.show {
    opacity: 1;
}

.hide {
	 opacity: 0;
}

.search-wrapp .search-input input{
	padding-left: 5px;
	border-radius: 6px;
	border: 1px #009bb1 solid;
	color: #009bb1;

}


.responsive-img{
	max-width: 100%;
	height: auto;
	/* padding: 0 40px; */
}

.logo{
    margin-left: 0;
    padding: 8px 0 0 0;
    width: 265px;
}

.logo-link p{
    text-transform: uppercase;
    color: #009bb1;
    font-size: 15px;
    margin: 0;
    margin-left: 18px;
    font-family: "HelveticaLight";
    letter-spacing: 1px;
}

.logo-link:hover{
	text-decoration: none;
}

.menu{
	border-bottom: 6px rgba(0, 155, 177, .7) solid;
}

.main-mnu{
	padding: 0;
	list-style: none;
	margin: 0;
}
.main-mnu li a{
    font-size: 14px;
    color: #000;
    display: inline-block;
    padding: 30px 14px;
    text-transform: uppercase;
    transition: all .4s ease;
    font-family: "HelveticaLight";
}
.main-mnu li{
	display: inline-block;
	margin: 0 -3px;
	padding: 0;
}

.main-mnu li.active a,
.main-mnu li a:hover{
	background-color: #009bb1;
	color: #fff;
	text-decoration: none;
}

.catalog{
	border-top: 1px #009bb1 solid;
	min-height: 200px;
}

.select-from-parametrs{
    padding-bottom: 10px;
    text-align: center;
}

.catalog .info{
    float: right;
    font-size: 13px;
    vertical-align: middle;
    margin-left: 20px;
    color: #009bb1;
}

.catalog .prewiew-catalog-wrapper .tovar-title{
    text-transform: uppercase;
    position: absolute;
    bottom: -11px;
    left: 70%;
    white-space: nowrap;
    font-size: 13px;
}

.catalog .catalog-title {
    text-align: center;
    padding: 16px;
    font-size: 16px;
    box-shadow: 0 -7px 0px 0px #009bb1;
    color: #009bb1;
    border-bottom: 1px #009bb1 solid;
    margin-bottom: 50px;
}

.button{
	display: inline-block;
	background-color: #009bb1;
	color: #fff;
	font-family: "HelveticaLight";	
	text-transform: uppercase;
	border-radius: 20px;
	width: 230px;
	padding: 10px;
	font-size: 15px;
	text-align: center;
	box-shadow: 0 0 0 2px #009cb3,
				0 0 0 4px #fff,
				inset 0px 0px 0 2px #fff;
	transition: all .4s ease;

}

.button:hover{
	text-decoration: none;
	color: #fff;
	box-shadow: 0 0 0 4px #fff,
				0 0 0 6px #009cb3,
				inset 0px 0px 0 2px #fff;
}
.button:active,
.button:focus{
	text-decoration: none;
	color: #fff;
	transition: all .6s ease;
	box-shadow: 0 0 0 9px #fff,
				0 0 0 8px #009cb3,
				inset 0px 0px 0 2px #fff;	
}
.state-distribution{
background-color: #f5fafd;
border-bottom: 1px #009bb1 solid;
border-top: 1px #009bb1 solid;
text-align: center;
}
.state-distribution .button{
	position: relative;
	margin: 0 auto;
	display: block;
}

.state-distribution .button:after{
    content: '';
    position: absolute;
    top: -107px;
    left: -378px;
    width: 1096px;
    height: 259px;
    background-image: url(../img/destibution.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: contain;
    background-size: contain;
}

.new-product{
	padding-bottom: 60px;
}
.owl-carousel .slide-item .image img{
	width: 100px;
	height: 100px;
}

.owl-carousel .slide-item .image{
	background-image: url(../img/slider/background.png);
	background-position: center;
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
    width: 170px;
    height: 170px;
    margin: 0 auto;
    text-align: center;
    padding: 35px;
    padding-top: 48px;
    float: left;
}

.slider-wrapp .slide-item .descr{
    display: inline-block;
    width: 175px;
    float: right;
}

.slider-wrapp .slide-item .descr h4{
	background: #fff;
	padding: 0;
	color: #000;
	margin-top: -10px;

}

.slider-wrapp{
	padding: 0 35px;
	margin-top: 40px;
}

.slider-wrapp .slide-item .descr p{
	margin-top: 0;
	font-size: 14px;
}

.slider-wrapp .next-btn{
	color: #009cb3;
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px #009cb3 solid;
	border-radius: 50%;
	text-align: center;
	padding-top: 5px;
    padding-left: 2px;
	position: absolute;
	top: 39%;
	right: -40px;
}

.slider-wrapp .prew-btn{
	color: #009cb3;
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px #009cb3 solid;
	border-radius: 50%;
	text-align: center;
	padding-top: 5px;
    padding-right: 2px;
	position: absolute;
	top: 39%;
	left: -40px;
}

.calpeda{
    background-color: #f5fafd;
    border-bottom: 1px #009bb1 solid;
    border-top: 1px #009bb1 solid;
    padding-bottom: 40px;
}

.calpeda-logo img{
	width: 180px;
}

.calpeda-logo{
	display: inline-block;
	padding: 8px;
	border: 2px #009cb3 solid;
    border-radius: 25px;
}

.about-calpeda h5{
    text-transform: uppercase;
    font-size: 16px;
    margin: 20px 0;
}

.about-calpeda p{
    font-size: 14px;
}

.contacts h4{
	width: 200px;
    text-align: center;
    letter-spacing: 1px;
}


.contacts p{
	font-size: 14px;
}


.main-menu li.dropdown ul.dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    left: 0;
    width: 100%;
    top: 145px;
    height: auto;
    position: absolute;
    padding-bottom: 20px;
    transition-delay: .2s;
}

.main-menu li.dropdown:hover ul.dropdown-menu {
    visibility: visible;
    opacity: 1;
}

header .menu  .nav.main-menu li {
    display: inline-block;
    margin: 0;
    position: static;
}

header .menu .nav.main-menu{
    float: right;
    /* margin-right: -23px; */
}
header .menu .nav.main-menu li a {
    color: #000;
    padding: 34px 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "HelveticaLight";
}


header .menu  .nav.main-menu li a:hover{
    background-color: #009bb1;
    color: white;
    cursor: pointer;
    color: #fff;
}

.main-menu li ul.dropdown-menu li.products_menu {
    height: auto;
    width: 100%;
}
.main-menu li ul.dropdown-menu li.products_menu ul.products_main {
    max-width: 100%;
    margin: 0 auto;
    padding-left: 0;
    text-align: center;
    padding: 10px;
}
.main-menu li ul.dropdown-menu li.products {
    width: 30%;
    height: auto;
    text-align: left;
    vertical-align: top;
}

.main-menu li ul.dropdown-menu li.products.charact {
    margin-left: 30px;
}

.panel-group {
    margin-bottom: 20px;
}

.main-menu .panel-default>.panel-heading h4 a {
    color: #878787;
}

.main-menu li.products a {
    line-height: 30px;
    font-size: 16px;
    text-transform: none;
    color: #475658;
    font-weight: bold;
    padding: 0;
    text-align: left;
    padding-left: 10px;
    text-decoration: none;
}

header .menu .products_menu .products_main ul li{
    display: block;
    height: auto;
    padding: 0 2px;
    margin: 0;
    line-height: 1;
}

#collapseOne .panel-body{
    padding: 0;
}

header .menu .products_menu .products_main ul li a{
    padding: 0px 6px;
    margin: 0;
    font-weight: normal;
    line-height: 1.7;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: none;
}



header .menu .products_menu .products_main h4 {
    color: #454c56!important;
    display: inline-block;
    padding: 0;
    font-size: 18px!important;
    margin: 0;
    margin-left: 30px;
    text-transform: none;
    font-weight: bold;
    background: transparent;
    margin-bottom: 15px;
}
.main-menu .panel-default>.panel-heading {
    background: #fff;
    border: 0;
    padding-left: 0;
    padding: 0;
}

.main-menu .panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
    border: none;
    box-shadow: none;
}

header .menu .nav.main-menu .panel-heading a {
    background-color: #ffffff;
    padding: 0;
    display: block;
    color: #878787;
    width: 280px;
}

header .menu .nav.main-menu .panel-heading a .fa {
	float: right;
}

header .menu .products_menu .products_main ul li:hover{
    background-color: #009bb1;
}
header .menu .products_menu .products_main ul li:hover > a{
    color: #fff;
}


header .menu .nav.main-menu .panel-heading a:hover {
    background-color: #ffffff;
    padding: 0;
    color: #878787;
    box-shadow: none;
}


.catalog .panel-default>.panel-heading {
    color: #454c56;
    background-color: #ffffff;
    border: none;
    padding: 0;
    border-radius: 0px !important;
}

.catalog .panel-default>.panel-heading.active{
    box-shadow: inset 7px 0 0 0 #009bb1;
    border-bottom: 0;
}

.catalog .panel {
    margin-bottom: 0px;
    background-color: #fff;
    border: none;
    border-top: 1px #009bb1  solid;
    border-radius: 0px !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.catalog .panel-group .panel+.panel {
    margin-top: 0;
    border-radius: 0;
}
.catalog .panel-title a {
    display: block;
    padding: 8px 16px;
    border-radius: 0px;
    font-family: "HelveticaLight";
    letter-spacing: 1px;
    font-size: 14px;
}
.products ul{
    padding-left: 20px;
}
.catalog .tab_lessons a label {
    font-size: 14px;
    color: #454c56;
    font-family: "HelveticaLight";
}

.catalog .tab_lessons a{
    display: block;
}

.catalog .panel-title a:hover,
.catalog .tab_lessons a:hover{
    text-decoration: none;
}



.catalog .tab_lessons input {
    display: none;
}

.catalog h3:hover {
    background: #009bb1;
    position: relative;
    text-decoration: none;
    width: 100%;
    cursor: pointer;
    color: #fff;
    border-bottom: 1px solid #009bb1;
}

.catalog .tab_lessons label:hover {
    cursor: pointer;
    background-color: #009bb1;
    color: #fff;
    text-decoration: none;
}

.catalog .tab_lessons label {
    display: block;
    font-size: 16px;
    color: #000;
    font-weight: 100;
    position: relative;
    margin: 0;
    padding: 8px 0 8px 10px;
}


#vkladka10, #vkladka20, #vkladka30, #vkladka40, #vkladka50, #vkladka60, #vkladka70, #vkladka80, #vkladka90, #vkladka100, #vkladka110, #vkladka120, #vkladka130, #vkladka140, #vkladka150, #vkladka160, #vkladka170, #vkladka180, #vkladka190, #vkladka200, #vkladka210, #vkladka220, #vkladka230, #vkladka240, #vkladka250, #vkladka260, #vkladka270, #vkladka280, #vkladka290, #vkladka300, #vkladka310, #vkladka320, #vkladka330, #vkladka340, #vkladka350, #vkladka360, #vkladka370, #vkladka380, #vkladka390, #vkladka400, #vkladka410, #vkladka420, #vkladka430, #vkladka440, #vkladka450, #vkladka460, #vkladka470, #vkladka480, #vkladka490, #vkladka500, #vkladka510, #vkladka520, #vkladka530, #vkladka540, #vkladka550, #vkladka560, #vkladka570, #vkladka580, #vkladka590, #vkladka600, #vkladka610, #vkladka620 {
    display: none;
    text-align: center;
}

/*

#vkladka10 {
    display: block;
}

*/


.prewiew-catalog-wrapper{
    height: 220px;
    background-image: url(../img/catalog/prewiew-wrapper.png);
    -webkit-background-size: contain;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.prewiew-catalog-wrapper .item-preview{
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: 75%;
    background-size: 75%;
    border-radius: 50%;
    width: 152px;
    height: 152px;
    margin: 0 auto;
}


#collapseOne{
    width: 880px;
    position: relative;
    background: #fff;
    font-size: 13px;
    height: 400px;
    padding: 5px;
    box-shadow: 0 0 12px rgba(0,0,0,0.175);
    border: 0;
    background-color: #ffffff;
}

#collapseOne .panel-body ul{
   
    float: left;
    width: 50%;
    margin: 0;
    padding: 0;
}

header .menu #collapseOne .panel-body ul li a {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: none;
}


#search-form-header {
    position: absolute;
    display: none;
    float: right;
    top: -27px;
    right: 0;
    background: #42C3EA;
    overflow: hidden;
    z-index: 2;
    background-color: #0294AD;
}


.search-wrapp span {
    display: inline-block;
    float: left;
    width: 57px;
    line-height: 32px;
    background: #009bb1 url(../img/search.png) center no-repeat;
    background-size: 20px 20px;
    cursor: pointer;
    transition: all 250ms linear;
    background-color: #009bb1;
    height: 57px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

#search-form-header input {
    position: absolute;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    text-indent: 1px;
    width: 240px;
    padding: 0;
    background: transparent;
    border: none;
    font-weight: 300;
    padding-top: 9px;
    outline: none;
    left: 60px;
    padding-top: 0;
}

#search-form-header input::placeholder {
    color: #fff;
}
.search-wrapp{
    width: 57px;
}