/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.main-mnu li a {
	    font-size: 12px;
	    padding: 40px 10px;
	}
	.logo {
	    margin-left: 0;
	    padding: 8px 0 0 0;
	    width: 96%;
	    margin: 0 auto;
	    display: block;
	}
	.logo-link p {
	    font-size: 18px;
	    margin: 0;
	    margin-left: 4px;
	}
	nav .contacts ul p {
	    font-size: 15px;
	}
	nav .contacts .transp-button {
	    font-size: 14px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.top-mnu {
		text-align: center;
	}
	nav .contacts {
    	text-align: center;
	}
	nav .curs {
	    text-align: center;
	}
	nav .contacts ul.nubmer-list, nav .curs ul.curs-list {
	    z-index: 55;
	    background: #fff;
	}
	.logo-link p {
	    font-size: 10px;
	    margin-left: 4px;
	}
	.main-mnu li a {
	    font-size: 12px;
	    padding: 25px 7px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	.logo {
	    width: 300px;
	}
	.logo-link p {
	    font-size: 18px;
	    margin-left: 0;
	    width: 300px;
	    margin: 0 auto;
	}
	.main-mnu li a {
	    font-size: 14px;
	    padding: 25px 7px;
	    width: 100%;
	}
	.main-mnu {
	    text-align: center;
	    margin-top: 20px;
	}
	.main-mnu li {
	    display: block;
	    padding: 0;
	    margin: 0;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens 
@media only screen and (min-width : 1600px) {
	.container{
		width: 85%!important;
	}
	.img-responsive {
	    width: 200%;
	}
	.prewiew-catalog-wrapper {
		height: 250px;
	}
	.prewiew-catalog-wrapper .item-preview {
		width: 166px;
		height: 181px;
	}
	.owl-carousel .slide-item .image {
		width: 217px;
		height: 209px;
	}
	.owl-carousel .slide-item .image img {
		width: 135px;
		height: 130px;
	}
	.slider-wrapp .slide-item .descr {
		display: inline-block;
		width: 220px;
		float: right;
	}
	.slider-wrapp .slide-item .descr h4 {
		color: black!important;
	}

	.slider-wrapp .slide-item .descr p {
		font-size: 1.2em;
	}

}

*/